[submodule "src/external/libz80"]
	path = src/external/libz80
	url = https://github.com/ggambetta/libz80
[submodule "src/external/libretro-common"]
	path = src/external/libretro-common
	url = https://github.com/libretro/libretro-common
[submodule "src/external/galaksija-emulator"]
	path = src/external/galaksija-emulator
	url = https://github.com/nikp123/Galaksija-Emulator
